Q22. Write a Program to enter multiple values-based data in multiple columns/rows and show that
data in python using DataFrames and pandas.

In [1]:
import pandas as pd
data = {'Subject' :['English','Maths','Hindi','Science'],'Marks':[95,93,97,98]}
sh = pd.DataFrame(data)
print(sh)

   Subject  Marks
0  English     95
1    Maths     93
2    Hindi     97
3  Science     98