Q23. WAP in python to perform various statistical measures using pandas.

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('all leads.csv')

In [3]:
data.head()

   ght  huiu  gfbf
0  7.0  30.0  22.0
1  5.0  25.0  23.0
2  1.0  30.0  24.0
3  9.0  35.0  25.0
4  6.0  35.0  26.0

In [5]:
data.shape

(240, 3)

In [6]:
data.columns

Index(['ght', 'huiu', 'gfbf'], dtype='object')

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ght     14 non-null     float64
 1   huiu    14 non-null     float64
 2   gfbf    14 non-null     float64
dtypes: float64(3)
memory usage: 5.8 KB

In [8]:
data.describe()

             ght       huiu     gfbf
count  14.000000  14.000000  14.0000
mean    5.714286  35.357143  28.5000
std     2.334641   7.957649   4.1833
min     1.000000  20.000000  22.0000
25%     5.250000  30.000000  25.2500
50%     6.000000  35.000000  28.5000
75%     6.750000  43.750000  31.7500
max     9.000000  45.000000  35.0000